{% extends 'home1.html' %}
{% block content %}
<center>

            <img src="{{url_for('static',filename=items[0]+'.jpg')}}" height="500" width="500"  /><br>
            <label> name:{{items[1]}}</label><br>
           
            <label >category:{{items[4]}}</label><br>
            <label > price:{{items[5]}}</label><br>     
            <button class="button-52" ><a href="{{url_for('cart',itemid=items[0],name=items[1],discription=items[2],qty=items[3],category=items[4],price=items[5])}}">Add to cart</a></button>    
            <button>buy now</button>
            {% if session.get('user') %}
            <a href="{{url_for('review')}}">add review</a>
            <a href="#">Read Reviews</a>
            {% else %}
            <a href="#">Read Reviews</a>
            {% endif %}
            
  
</center>
{% endblock %}